* {
  padding: 0px;
  margin: 0px;
  outline: 0px;
}

body {
  font-family: 'Arima', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.headsec {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  padding: 50px 100px;
}

.sub-sec {
  width: 55%;
}

.relative {
  position: absolute;
  top: -11%;
  left: 37%;
}

.head2 {
  display: flex;
  justify-content: flex-end;
}

.relative2 {
  position: absolute;
  top: 63%;
  left: 40px;
}

#flash {
  width: 70%;
}

.sub-sec h1 {
  font-size: 70px;
  color: #6a6a6a;
  margin-bottom: 15px;
}

.sub-sec h2 {
  font-size: 50px;
  color: #6a6a6a;
  margin-bottom: 15px;

}

.sub-sec p {
  font-size: 20px;
  width: 75%;
  color: #707070;
  margin-bottom: 50px;
  margin-top: 40px;
}

.sub-sec a {
  text-decoration: none;
  background-color: coral;
  color: #fff;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
}

.sub-sec img {
  width: 115%;
}