* {
  padding: 0px;
  margin: 0px;
  outline: 0px;
}

body {
  font-family: 'Arima', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.headsec {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  padding: 50px 100px;
}

.sub-sec {
  width: 55%;
}

.relative {
  position: absolute;
  top: -4%;
  left: 37%;
}

.head2 {
  display: flex;
  justify-content: flex-end;
  background-image: url("https://github.com/14HAK/pro2/blob/master/images/shapes/main%203.jpg?raw=true");
  background-repeat: no-repeat;
  height: 280px;
}

.relative2 {
  position: absolute;
  top: 650px;
  left: 40px;
}

#flash {
  width: 70%;
}

.sub-sec h1 {
  font-size: 70px;
  color: #6a6a6a;
  margin-bottom: 15px;
}

.sub-sec h1 span {
  color: tomato;
}

.sub-sec h2 {
  font-size: 50px;
  color: #6a6a6a;
  margin-bottom: 15px;

}

.sub-sec p {
  font-size: 20px;
  width: 75%;
  color: #707070;
  margin-bottom: 37px;
  margin-top: 40px;
}

.sub-sec a {
  text-decoration: none;
  background-color: coral;
  color: #fff;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
}

.sub-sec img {
  width: 115%;
}

.recipi {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.text {
  text-align: center;
  padding: 45px;
  width: 56%;
  font-size: 23px;
}

.text h2 {
  font-size: 55px;
  color: gray;
  margin-bottom: 22px px;
}

.text p {}

.item {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}

.card {
  width: 40%;
  border-radius: 45px;
  padding: 26px;
  /* border: 1px solid green; */
  box-shadow: 1px 1px 30px grey;
}


.ih img {
  width: 100%;
  border-radius: 45px;

  margin-bottom: 30px;
}

.card h3 {
  font-size: 30px;
  color: gray;
  margin-bottom: 13px;
}

.card p {
  font-size: 20px;
  margin-bottom: 15px;
}

.fotup {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 3px grey;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 95px;
  margin-top: 95px;
}

.txt {
  text-align: center;
  width: 35%;
  height: auto;
  padding: 50px;
}

.text h2 {
  font-size: 55px;
  color: gray;
  margin-top: 50px;
}

.text p {
  margin-bottom: 60px;
  margin-top: 15px;
}

.footer {
  width: 100%;
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 130px 0px;
  margin-top: 60px;
}

.footer span {
  color: tomato;
}

.footer h1 {
  font-size: 45px;
}

.footer p {
  font-size: 20px;
}